/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.success-dialog{

    color: white !important;
    background-color: darkgreen !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
}
.error-dialog{

    color: white !important;
    background-color: darkred !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
}
@import '~@angular/material/theming';
@include mat-core();
@import './light-theme';
@import './dark-theme';
