<mat-card style="margin: 1em; min-width: 300px; flex:1" class="mat-elevation-z8">
  <mat-card-title>
    Change details
  </mat-card-title>
  <mat-card-content style="display:flex; flex-direction:column">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="user.email" placeholder="E-Mail">
    </mat-form-field>
    <!-- <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="user.dateOfBirth" placeholder="Birthday">
    </mat-form-field> -->
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="user.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="user.surname" placeholder="Surname">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submitUserdata()" [disabled]="equalCheck(changeCheckUser,user)">
      Submit
    </button>
  </mat-card-content>

</mat-card>
