  <div
    style="flex-direction: row; display: flex; flex: 1;align-items: center;
justify-content: center; background-image: url('/assets/moneypig.jpg'); height: 100%;background-size:cover"
  >
    <mat-card
      style="
    min-width: 20vw;
      margin: 2em;
    max-width: 50vw;
    margin-left: 0;
    "
      class=" mat-elevation-z8"
    >
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-card-content>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          style="flex-direction: column; display: flex;"
        >
          <mat-form-field>
            <input
              matInput
              placeholder="Username"
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="Password"
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              required
            />
          </mat-form-field>
          <div class="form-group">
            <button
              mat-raised-button
              color="primary"
              style="width: 100%"
              [disabled]="loading"
            >
              Login
            </button>
            <img
              *ngIf="loading"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
          </div>
          <div *ngIf="error">{{ error }}</div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
