<mat-card style="margin: 2em;">
  <mat-card-title>
    Nutzereinstellungen
  </mat-card-title>
  <mat-card-content style="display: flex; flex-direction:column">
    <div style="display: flex; flex: 1; flex-direction:column">
      <mat-form-field>
        <input matInput placeholder="Input" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Input" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Input" />
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
<mat-card style="margin: 2em;">
  <mat-card-title>
    Oberfläche
  </mat-card-title>
</mat-card>
