<!--The content below is only a placeholder and can be replaced.-->
<app-main-nav></app-main-nav>
<div id="mainContainer">
  <app-overview-card></app-overview-card>
  <div style="flex-direction: row; display: flex; flex: 1;">
    <app-chart-card></app-chart-card>
    <mat-card
      style="
      margin: 2em;
    max-width: 50vw;
    min-width: 410px;
    margin-top:0;
    margin-left: 0;
    flex:1;
    "
      class=" mat-elevation-z8"
    >
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
