<div style="display: flex; flex-direction:column;">
  <div style="display: flex; flex-direction:row;">
    <h1>#{{tag.title}}</h1>
    <div style="flex: 1;"></div>
    <button
      style="margin-top: 1.2em; margin-left: 2em;"
      mat-mini-fab
      color="warn"
      (click)="close()"
    >
      <fa-icon style="font-size: 1.7em;" [icon]="faClose"></fa-icon>
    </button>
  </div>
  <div style="display: flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row;">
      <mcc-color-picker
        [selectedColor]="tag.color"
        [usedColorStart]="colorPreset"
        [hideEmptyUsedColors]="true"
        [usedColorLabel]="'Vorgaben'"
        [btnConfirm]="'Speichern'"
        [btnCancel]="'Abbruch'"
        [hideColorPickerSelector] = "true"
        [hideButtons]="true"
        style="padding: 1em 1em 0 0;"
        (selected)="selectColor($event)"
      ></mcc-color-picker>
      <mat-form-field style="flex: 1; width:100%;">
        <input
          matInput
          placeholder="Titel"
          id="title"
          [(ngModel)]="tag.color"
          required
        />
      </mat-form-field>
    </div>
  </div>
</div>
