@import "~@angular/material/theming";
@include mat-core();
$md-cashier: (
  50: #f0e0fd,
  100: #dab3fb,
  200: #c180f8,
  300: #a84df5,
  400: #9626f2,
  500: #8300f0,
  600: #7b00ee,
  700: #7000ec,
  800: #6600e9,
  900: #5300e5,
  A100: #ffffff,
  A200: #e4d9ff,
  A400: #c0a6ff,
  A700: #ae8cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$app-light-primary: mat-palette($mat-purple, 600, 400, 900);
$app-light-accent: mat-palette($md-cashier, 500);
$app-light-warn: mat-palette($mat-deep-orange);
$app-theme: mat-light-theme(
  $app-light-primary,
  $app-light-accent,
  $app-light-warn
);
$background: mat-color(mat-palette($md-cashier, 900));
.mat-app-light {
  @include angular-material-theme($app-theme);
}
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent: mat-palette($mat-yellow, 400);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}
