<mat-card class="overviewCard mat-elevation-z8" style="margin: 1em;">
  <mat-card-title>
    Regular Cashies
  </mat-card-title>
  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="data"
        class="example-table"
        style="width: 100%;"
      >
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <button
              *ngIf="selection.selected.length > 0"
              (click)="selection.clear()"
              style="margin-left: -0.82em;"
              mat-icon-button
              title="Auswahl aufheben"
            >
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row.id) : null"
              [checked]="selection.isSelected(row.id)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="cronTab">
          <th mat-header-cell *matHeaderCellDef>
            Date
          </th>
          <td mat-cell *matCellDef="let row">
            {{ cronToText(row.cronTab) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="transactionTitle">
          <th mat-header-cell *matHeaderCellDef>
            Title
          </th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
        </ng-container>
        <ng-container matColumnDef="transactionAmount">
          <th mat-header-cell *matHeaderCellDef>
            Amount
          </th>
          <td mat-cell *matCellDef="let row">{{ row.amount }}€</td>
        </ng-container>
        <ng-container matColumnDef="transactionTags">
          <th mat-header-cell *matHeaderCellDef>#hashtags</th>
          <td mat-cell *matCellDef="let row">
            <mat-chip-list [selectable]="false">
              <mat-chip
                [selectable]="false"
                [selected]="false"
                class="mat-elevation-z2"
                style="color: rgba(255,255,255,0.9)"
                [ngStyle]="{ backgroundColor: getTagForTagID(tag.title).color }"
                *ngFor="let tag of row.tags"
                >#{{ getTagForTagID(tag.title).title }}
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions
    style="display: flex; flex-direction:row; align-items: center"
  >
    <button
      mat-raised-button
      color="warn"
      style="margin-left: 0.5em;"
      (click)="delete(selection.selected)"
      [disabled]="selection.isEmpty()"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    <div style="flex: 1;"></div>
    <button
      mat-raised-button
      color="primary"
      style="max-height: 3em;"
      (click)="openDialog()"
    >
      Add <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </mat-card-actions>
</mat-card>
