:host{
    top:0;
    z-index: 200;
    position: sticky;
    width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
fa-icon{
  font-size: 1.2em;
}
.buttonInfo{
  
  padding-left: 1em;
}
@media screen and (max-width: 700px) {
  .logo {
      display: none !important;
  }
}