<mat-toolbar
  color="primary"
  class="mat-elevation-z8"
  style="justify-content: center;"
>
  <mat-toolbar-row>
    <button
      style="font-size: 1em; position: absolute;left: 45vw;"
      mat-button
      [routerLink]="['/']"
    >
      <fa-icon [icon]="faMoney"></fa-icon> Cashier
    </button>

    <!-- <button mat-icon-button (click)="toggleSideBar()" *ngIf="isLoggedin()">
      <fa-icon [icon]="faBars"></fa-icon>
    </button> -->

    <button
      mat-button
      [routerLink]="['/']"
      (mouseenter)="dashboardButton = true"
      (mouseleave)="dashboardButton = false"
      style="align-items: center"
    >
      <fa-icon [icon]="faHome"></fa-icon>

      <span class="buttonInfo" [@enterAnimation] *ngIf="dashboardButton"
        >Dashboard</span
      >
    </button>
    <button
      mat-button
      [routerLink]="['/transactions']"
      (mouseenter)="cashiesButton = true"
      (mouseleave)="cashiesButton = false"
      style="align-items: center"
    >
      <fa-icon [icon]="faTable"></fa-icon>

      <span class="buttonInfo" [@enterAnimation] *ngIf="cashiesButton"
        >Cashies</span
      >
    </button>
    <button
      mat-button
      [routerLink]="['/admin']"
      (mouseenter)="adminButton = true"
      (mouseleave)="adminButton = false"
      style="align-items: center"
      *ngIf="userIsAdmin(user)"
    >
      <fa-icon [icon]="faCog"></fa-icon>

      <span class="buttonInfo" [@enterAnimation] *ngIf="adminButton"
        >Admin-Panel</span
      >
    </button>

    <span class="example-spacer"></span>
    <button
      style="font-size: 1em;"
      mat-button
      *ngIf="isLoggedin()"
      [matMenuTriggerFor]="userMenu"
    >
      <img
        style="max-height:1.5em; max-width:1.5em;position: relative; top:-0.1em;"
        ngxGravatar
        [email]="user?.email"
      />
      {{ userstring }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item style="text-align:right" (click)="switchDark()">
        <div *ngIf="theme === 'light'">
          Theme: dark
          <fa-icon [icon]="faMoon"></fa-icon>
        </div>
        <div *ngIf="theme === 'dark'">
          Theme: light
          <fa-icon [icon]="faSun"></fa-icon>
        </div>
      </button>
      <button
        mat-menu-item
        style="text-align:right"
        [routerLink]="['/settings']"
      >
        User-settings <fa-icon [icon]="faUserCog"></fa-icon>
      </button>
      <button
        mat-menu-item
        style="text-align: right"
        (click)="logout()"
        [routerLink]="['/login']"
      >
        Logout <fa-icon [icon]="faSignout"></fa-icon>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
